/* You can add global styles to this file, and also import other style files */
.data{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    
    
}
img{
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px;
}
.data2{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: gray;
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px;
    width: 98%;
}
.data-layer{
    margin-top: 1rem;
}

h1, h3{
    color: aliceblue;
    margin: 0;
}

.data-detail{
    color: aliceblue; 
}
ul{
    margin-block-end: 0;
    padding-inline-start: 12px;
    list-style: none;
}
  
  ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    position: absolute;
  }
